mixin video (data)
  .video(data-id=""+data.link+"")
    .video__preview(data-video="preview")
      picture
        img(src=data.preview+'.jpg' loading="lazy")
    .video__iframe
    .video__action
      if data.title
        .video__title= data.title
      .video__button(data-video="play")
        +icon('ic_play', 70)


mixin video-review (data)
  .video(data-id=""+data.link+"")
    .video__preview
      +picture(data.preview)
    .video__action
      if data.title
        .video__title= data.title
      .video__button
        +icon('ic_play', 52)
        span Watch the video review


mixin video2 (data)
  .video
    .video__preview
      +picture(data.preview)
    .video__action
      if data.title
        .video__title= data.title
      .video__button
        +icon('ic_play', 70)
    .video__source
      video(preload="none")
        source(src="/files/video-sound.mp4" type="video/mp4")

mixin video-slider (data)
  .video
    .video__preview
      +picture(data.preview)
    .video__action
      if data.title
        .video__title= data.title
      .video__button
        +icon('ic_play', 70)
    .video__source
      video(preload="none" controls="none")
        source(src="/files/slider.webm" type="video/webm")
        source(src="/files/slider.mp4" type="video/mp4")



mixin video-youtube (data)
  .yt-video(data-id=""+data.link+"")
    .yt-video__preview
      +picture(data.preview)
    .yt-video__action

      .yt-video__button
        +icon('ic_play', 52)
    .yt-video__iframe

